<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="file/static/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="file/static/css/explanation.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <title>ボタンを押せ！！</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
        <div class="nav-wrapper">
          <a href="/homepage" class="brand-logo">ボタンを押せ!!!</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{ if . }}
            <li><a href="/explanation">ゲームについて</a></li>
            <li><a href="/logout">ログアウト</a></li>
            {{ else }}
            <li><a href="/homepage">ホーム</a></li>
            <li><a href="/explanation">ゲームについて</a></li>
            <li><a href="/login_page">ログイン</a></li>
            <li><a href="/signup_page">アカウントを作成</a></li>
            {{ end }}
          </ul>
        </div>
    </nav>

    <main class="container">
        <img src="file/images/money1.jpg">

        <div class="container">
            <div class="card-panel hoverable">
               <h3>〜 How to earn 〜</h3>
               <h5>・ボタンをプッシュすればするほど、お金が増えていきます</h5>
               <h5>・オークの実を10個入手すると、利益が2倍になります</h5>
               <h5>・サンダーの実を入手すると、インベストを行えるようになります</h5>
               <h5>・インベストに成功すると、多額の利益を得られます</h5>
            </div>
        </div>
    </main>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="file/static/js/materialize.min.js"></script>
  </body>
</html>